@import './mixin.less';
@import './reset.less';
@import './variable.less';

.hideSidebar {
    .sider-container {
        width: 64px !important;
    }
    .main-container {
        margin-left: 64px;
    }
}

.red {
    color: @red;
}
.fl-right {
    float: right;
}
.wh-200 {
    width: 200px;
}

.wh-400 {
    width: 400px;
}